body {
    background: #1d1d1d;
    color: white;
    font-family: Arial, sans-serif;
    padding: 20px;
}

/* headings */
.heading {
    margin-bottom: 10px;
    font-size: 26px;
}

/* POPULAR BOOK CARD */
.popular-card {
    display: flex;
    background: #d9f3ff;
    color: #000;
    padding: 15px;
    border-radius: 12px;
    gap: 15px;
    margin-bottom: 20px;
}

.img-box img {
    width: 130px;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
}

.details h2 {
    color: #183b56;
    margin: 0;
    font-size: 22px;
}

.details p {
    margin: 5px 0;
    font-size: 14px;
}

.details .author {
    color: #183b56;
    font-size: 13px;
}

button {
    background: #1e90ff;
    color: white;
    padding: 8px 14px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
}

a.read-btn {
    display: inline-block !important;
    background: #1e90ff !important;
    color: white !important;
    padding: 10px 20px !important;
    border-radius: 8px !important;
    text-decoration: none !important;
    font-weight: 600 !important;
    cursor: pointer !important;
    text-align: center !important;
    border: none !important;
}


/* RECOMMENDED SMALL CARDS */
.rec-card {
    display: flex;
    gap: 12px;
    margin-bottom: 18px;
}

.img-small img {
    width: 75px;
    height: 105px;
    object-fit: cover;
    border-radius: 6px;
}

.info-small h3 {
    margin: 0;
    font-size: 18px;
}

.info-small p {
    margin: 3px 0;
    color: #bfc6c8;
    font-size: 13px;
}

.info-small button {
    padding: 6px 10px;
    border-radius: 6px;
    font-size: 13px;
}

